dataset: LastFM
model: HGT
trainer:
  accelerator: gpu
  devices: 2
  strategy: ddp_find_unused_parameters_true
  num_nodes: 1
  patience: 100
defaults:
  - override hydra/launcher: submitit_slurm
hydra:
  launcher:
    account: COMPUTERLAB-SL2-GPU
    timeout_min: 60
    nodes: 1
    partition: ampere
    gres: "gpu:1"