# @package _global_
defaults:
  - _self_
  - model: gcn
  - dataset: dblp
  - trainer: trainer
  - logger: wandb
  - callbacks: sheaf_nc
  - experiment: null

#tags:
#  - GNN
#  - sheaf
#  - node_classification
tags: [ GNN, node_classification, exp1 ]

dataset:
  homogeneous: true


callbacks:
  early_stopping:
    monitor: 'valid/loss'
  model_checkpoint:
    dirpath: checkpoints/sheafnc_checkpoints/
    monitor: valid/accuracy
    mode: max
    save_top_k: 1

trainer:
  log_every_n_steps: 1