defaults:
  - config
  - _self_
  - override hydra/launcher: submitit_slurm
model: BundleSheaf
dataset: DBLP
trainer:
  accelerator: cuda
  devices: 1
  num_nodes: 1
  patience: 100
  strategy: auto
model_args:
  device: cuda
  layers: 3
  hidden_channels: 256
hydra:
  launcher:
    account: COMPUTERLAB-SL2-GPU
    timeout_min: 60
    nodes: 1
    partition: ampere
    gres: "gpu:1"
    gpus_per_task: 1