# @package _global_
defaults:
  - _self_
  - model: diag_sheaf
  - dataset: dblp
  - trainer: trainer
  - logger: wandb
  - callbacks: sheaf_nc
  - experiment: null
  - scheduler: none
  - optimiser: adamw

#tags:
#  - GNN
#  - sheaf
#  - node_classification
sheaf_learner: 'local_concat'
tags: [ GNN, sheaf, node_classification, exp1_1, test ]

dataset:
  homogeneous: true

learning_rate: 1e-3
weight_decay: 1e-2
input_dim: 128

callbacks:
  early_stopping:
    monitor: valid/micro-f1
  model_checkpoint:
    dirpath: checkpoints/sheafnc_checkpoints/
    monitor: valid/micro-f1
    mode: max
    save_top_k: 1

trainer:
  log_every_n_steps: 1