defaults:
  - _self_
  - trainer: trainer
  - model: diag_sheaf
  - dataset: last_fm
  - callbacks: sheaf_lp
  - logger: wandb
  - experiment: null
  - scheduler: step_lr
  - optimiser: adamw

dataset:
  homogeneous: true

sheaf_learner: local_concat
learning_rate: 1e-3
weight_decay: 1e-2
input_dim: 128

recsys_metrics: true
hidden_dim: 256
tags:
  - sheaf
  - lp
  - exp2
