defaults:
  - _self_
  - trainer: trainer
  - model: ind_diag_sheaf
  - dataset: last_fm
  - callbacks: sheaf_lp
  - logger: wandb
  - experiment: null

dataset:
  homogeneous: true

sheaf_learner: local_concat

recsys_metrics: true
hidden_dim: 256
tags:
  - sheaf
  - lp
  - exp2
