defaults:
  - base_config
  - trainer: trainer
  - model: bundle_sheaf
  - dataset: last_fm
  - hydra: slurm_submit
  - override hydra/launcher: submitit_slurm
  - _self_
tags:
  - GNN
  - sheaf
  - link_prediction
