defaults:
  - base_config
  - override hydra/launcher: submitit_slurm
  - _self_

tags:
  - GNN
  - sheaf
  - node_classification
model: BundleSheaf
dataset: DBLP
trainer:
  accelerator: gpu
  devices: 1
  num_nodes: 1
  patience: 100
  strategy: auto
  fast_dev_run: false
model_args:
  device: cuda
  layers: 3
  hidden_channels: 256
hydra:
  launcher:
    account: COMPUTERLAB-SL2-GPU
    timeout_min: 60
    nodes: 1
    partition: ampere
    gres: "gpu:1"
    gpus_per_task: 1
  callbacks:
    my_callback:
      _target_: sheaf_nc.LogJobReturnCallback